DATABASE_URL=postgresql+psycopg://docker:docker@localhost:5432/mundo_invest

PIPEFY_PIPE_ID=pipe_mundo_invest_clientes
PIPEFY_PHASE_ID=phase_aguardando_analise

PIPEFY_FIELD_CLIENTE_NOME=cliente_nome
PIPEFY_FIELD_CLIENTE_EMAIL=cliente_email
PIPEFY_FIELD_TIPO_SOLICITACAO=tipo_solicitacao
PIPEFY_FIELD_VALOR_PATRIMONIO=valor_patrimonio
PIPEFY_FIELD_STATUS=status
PIPEFY_FIELD_PRIORIDADE=prioridade