DATABASE_URL=postgresql+psycopg://docker:docker@localhost:5432/mundo_invest

PIPEFY_PIPE_ID=pipe_mundo_invest_clientes
PIPEFY_PHASE_ID=phase_aguardando_analise

PIPEFY_FIELD_CUSTOMER_NAME=cliente_nome
PIPEFY_FIELD_CUSTOMER_EMAIL=cliente_email
PIPEFY_FIELD_REQUEST_TYPE=tipo_solicitacao
PIPEFY_FIELD_PATRIMONY_VALUE=valor_patrimonio
PIPEFY_FIELD_STATUS=status
PIPEFY_FIELD_PRIORITY=prioridade